<div class="d-flex justify-content-center align-items-center">
  <form #f="ngForm" (ngSubmit)="login()" class="needs-validation">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" name="email" [(ngModel)]="loginUser.email" class="form-control" id="email" required />
      <div class="invalid-feedback">
        Por favor, ingresa un email válido.
      </div>
    </div>
    <div class="mb-3">
      <label for="contrasenia" class="form-label">Contraseña:</label>
      <input
        type="password"
        name="contrasenia"
        [(ngModel)]="loginUser.contrasenia"
        class="form-control"
        id="contrasenia"
        required
      />
      <div class="invalid-feedback">
        Por favor, ingresa una contraseña válida.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Iniciar Sesión</button>
    <app-alerta [alerta]="alerta"></app-alerta> 
  </form>
</div>
