<header class="p-3 text-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
        <i class="fa-solid fa-bag-shopping fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{ title }}</span>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 text-secondary">Inicio</a></li>
        <li>
          <div class="ms-lg-3">
            <div class="form-group mb-0">
              <label for="categoria" class="visually-hidden">Categoría:</label>
              <select class="form-select" name="categoria" [(ngModel)]="selectedCategoria" (change)="seleccionarCategoria()" required>
                <option value="" selected>Categoría</option>
                <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
              </select>
            </div>
          </div>
        </li>
        <li><a routerLink="/crear-producto" class="nav-link px-2 text-black">Crear Producto</a></li>
        <li><a routerLink="/gestion-productos" class="nav-link px-2 text-black">Mis productos</a></li>
        <li><a routerLink="" class="nav-link px-2 text-black">Mis compras</a></li>
        <li><a routerLink="" class="nav-link px-2 text-black">Carrito</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (submit)="iraBusqueda(textoBusqueda.value)">
        <input #textoBusqueda type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>
      <div class="text-end">
        <button type="button" routerLink="/login" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" routerLink="/registro" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

















