<div class="card p-5">
  <form #f="ngForm" (ngSubmit)="crearProducto()">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Código: </label>
      <div class="col-sm-10">
        <input type="text" name="idPersona" [(ngModel)]="producto.idPersona" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Nombre del producto: </label>
      <div class="col-sm-10">
        <input type="text" name="nombreProducto" [(ngModel)]="producto.nombreProducto" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Descripción: </label>
      <div class="col-sm-10">
        <input type="text" name="descripcionProducto" [(ngModel)]="producto.descripcionProducto" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Stock: </label>
      <div class="col-sm-10">
        <input type="number" name="unidadesDisponibles" [(ngModel)]="producto.unidadesDisponibles"
          #unidadesInput="ngModel" required />
        <div *ngIf="unidadesInput.touched && producto.unidadesDisponibles <= 0">Las unidades disponibles deben ser
          mayores a 0</div>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Precio: </label>
      <div class="col-sm-10">
        <input type="number" name="precioActual" [(ngModel)]="producto.precioActual" #precioInput="ngModel" required />
        <div *ngIf="precioInput.invalid && (precioInput.dirty || precioInput.touched)">Por favor ingrese un precio
          válido</div>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Imagen: </label>
      <div class="col-sm-7">
        <input type="file" class="form-control" name="imagenes" (change)="onFileChange($event)" multiple />
      </div>
      <div class="col-sm-3">
        <button type="button" [disabled]="archivos == null" class="btn btn-primary" (click)="subirImagenes()">
          <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir imágenes
        </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Categorías:</label>
      <div class="col-sm-10">
        <select name="categorias" class="form-control" [(ngModel)]="producto.categorias" multiple required size="4"
          #categoriasSelect="ngModel">
          <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
        </select>
        <div *ngIf="categoriasSelect.invalid && categoriasSelect.touched" class="text-danger">Seleccione al menos una
          categoría.</div>
      </div>
    </div>

    <button type="submit" [disabled]="f.invalid || archivos == null" class="btn btn-primary">
      <i class="fa-solid fa-circle-plus me-1"></i>
      {{ modoEdicion ? 'Guardar producto' : 'Crear producto' }}
    </button>
    <app-alerta [alerta]="alerta"></app-alerta>